# Core web framework
fastapi

# ASGI server
uvicorn[standard]

# LLM SDKs
openai
google-generativeai

# Data and background jobs
redis
rq
# Production DB
qdrant-client
psycopg2-binary
asyncpg
sqlalchemy

# Utilities
requests
loguru
prometheus-client
pytest
streamlit
groq
python-dotenv
aiosqlite